/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-bg-header: #0084fd;
    --color-bg-card: #b5ddff;
    --color-bg-section: #9792e4;
    --color-bg-main: #ffffff;
    --color-free-text: #fdc15f;
    --color-bg-footer: #333333;
}

/* debug */
.debug {
    border: 1px solid red;
}
/* general rules */
html {
    scroll-behavior: smooth;
}
body {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--color-bg-main);
    color: var(--color-bg-footer);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--color-bg-main);
}
img {
    width: 100%;
    display: block;
}
.container {
    max-width: 100%;
    padding: 20px;
}
p {
    line-height: 1.8;
    padding-bottom: 20px;
}
h2, h3 {
    margin: 20px 0;
}

/* text utility */ 
.text-light {
    color: var(--color-bg-main);
}
.text-contrast {
    color: var(--color-free-text);
    font-size: 3em;
}
.text-violet{
    color: var(--color-bg-section);
}
.text-blue {
    color: var(--color-bg-header);
}
.text-center {
    text-align: center;
}

/* border */
.small-rounded {
    border-radius: 20px;
}
.big-rounded {
    border-radius: 50px;
}
.circle {
    background-color: var(--color-bg-section);
    padding: 15px;
    border-radius: 50%;
}
.icon {
    font-size: 4em;
}

/* header */
header {
    background-color: var(--color-bg-header);
    color: var(--color-bg-main);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    background-color: var(--color-bg-header);
    display: none;
}
header nav {
    position: relative;
    flex-shrink: 0;
}
header nav:hover ul {
    display: block;
}
header nav a {
    display: block;
    padding: 5px 10px;
}
main {
    padding-top: 70px;
}
nav {
    padding: 20px;
}
section {
    padding: 20px;
    scroll-margin-top: 75px;
}

/* section */
.even {
    background-color: var(--color-bg-section);
}
.bg-light {
    background-color: var(--color-bg-card);
}
.bg-white {
    background-color: var(--color-bg-main);
}
.testimonial {
    width: 50%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
.testimonial img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about {
    width: 50%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
}
/* footer */
footer {
    background-color: var(--color-bg-footer);
    color: var(--color-bg-main);
    padding: 20px;    
}
#call-to-action > div,
footer > div {
    padding: 20px;
}
.card {
    padding: 20px;
    margin-bottom: 20px;
}
.img-content {
    width: 80%;
    margin: 0 auto;
}
#features .container > .card{
    padding-bottom: 0;
}
/* utility */
.d-flex {
    display: flex;
}
.btn {
    background-color: var(--color-bg-section);
    padding: 6px 30px;
    border-radius: 16px;   
}
.big-btn
.small-btn
/* media query */
@media screen and (min-width: 1200px){
    header nav:hover ul {
        display: flex;
    }
    header nav ul {
        position: static;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }
    i.fa-solid.fa-bars {
        display: none;
    }
    #features .container > .card {
        display: flex;
    }
    .text-content {
        width: 60%;
        padding-bottom: 20px;
    }
    .img-content {
        width: 40%;
        /* align-self: flex-end; */
    }
    .img-content img {
        width: 200px;
    }
}